codepkg/flows/Task_Creator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddNewTaskToList</name>
        <label>AddNewTaskToList</label>
        <locationX>446</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>ListTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopByCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateTaskFields</name>
        <label>UpdateTaskFields</label>
        <locationX>599</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>newTask.Case_Dete_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentCase.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddNewTaskToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckEmpty</name>
        <label>CheckEmpty</label>
        <locationX>230</locationX>
        <locationY>307</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CheckEmpt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cases</targetReference>
            </connector>
            <label>CheckEmpt</label>
        </rules>
    </decisions>
    <description>Creates new Task for for every Case in the Contact</description>
    <interviewLabel>Tasc Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Creator</label>
    <loops>
        <name>LoopByCases</name>
        <label>LoopByCases</label>
        <locationX>232</locationX>
        <locationY>552</locationY>
        <assignNextValueToReference>currentCase</assignNextValueToReference>
        <collectionReference>ListCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateTaskFields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsertTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertTasks</name>
        <label>InsertTasks</label>
        <locationX>237</locationX>
        <locationY>727</locationY>
        <inputReference>ListTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>232</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopByCases</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ListCases</outputReference>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <startElementReference>Get_Cases</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CaseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the ID number of the contact</description>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
